<%= render 'shared/header', title: 'Your Goals' %>
<div class="row">
  <% @user.goals.each do |goal| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= render 'goals/goal', goal: goal, show_visibility: true %>
    </div>
  <% end %>
</div>

<% if @user.pinches.any? %>
  <%= render 'shared/header', title: 'Pinched Goals' %>
  <div class="row">
    <% @user.pinches.each do |goal| %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <%= render 'goals/goal', goal: goal %>
      </div>
    <% end %>
  </div>
<% end %>
