<div id="about" class="container about-container">
  <div class="col-md-4 about-box">
    <span class="glyphicon glyphicon-flag glyphicon-about"></span>
    <h2>Create</h2>
    <p>
      If you're <strong>programming at any level</strong> but can't find one convenient place to store all of those awesome links, then Pinch app is made for you! Just <strong>create a goal</strong> and start <strong>adding your resources</strong>.
    </p>
    <p>
      Although, we'd encourage you to <strong>share the fruits
      of your labour</strong>, you do have the option to <strong>mark your goals as private</strong>.
    </p>
  </div>
  <div class="col-md-4 about-box">
    <span class="glyphicon glyphicon-heart glyphicon-about"></span>
    <h2>Consume</h2>
    <p>
      Pinch app is based on the foundation of <strong>sharing free resources</strong>. Stealing is encouraged here. If you like another user's goal, <strong>just pinch it!</strong>
    </p>
    <p>
      Once you've <strong>pinched a goal</strong>, you'll have <strong>easy access to it in your dashboard</strong>. Don't forget you like your favourites!
    </p>
  </div>
  <div class="col-md-4 about-box">
    <span class="glyphicon glyphicon-pencil glyphicon-about"></span>
    <h2>Contribute</h2>
    <p>
      What's the <strong>greatest thing about Pinch app</strong>? You can <strong>request contribution status on any goal that you've pinched!</strong></p>
    <p>
      If you're digging a goal but think it's <strong>missing that one obscure resource you found</strong>? Request contribution status
      and <strong>add it!</strong> 
    </p>
  </div>
</div>

<footer class="footer"> Built by <%= link_to 'Liam Sean Brady', 'http://liamseanbrady.wordpress.com'  %> </footer>


