<div class="row about-box">
  <div class="col-md-4 text-center">
    <span class="glyphicon glyphicon-pencil glyphicon-about"></span>
  </div>
  <div class="col-md-8">
    <h2>Create</h2>
    <h4>Don't even get me started on how awesome this is. This is even more big text</h4>
  </div>
</div>

<div class="row about-box">
  <div class="col-md-4 text-center">
    <span class="glyphicon glyphicon-cloud glyphicon-about"></span>
  </div>
  <div class="col-md-8">
    <h2>Consume</h2>
    <h4>Don't even get me started on how awesome this is. This is even more big text</h4>
  </div>
</div>

<div class="row about-box">
  <div class="col-md-4 text-center">
    <span class="glyphicon glyphicon-cloud glyphicon-about"></span>
  </div>
  <div class="col-md-8">
    <h2>Collate</h2>
    <h4>Don't even get me started on how awesome this is. This is even more big text</h4>
  </div>
</div>


