<div class="col-md-6 col-md-offset-3 form-container">
  <%= render 'shared/header', title: 'Create a New Goal' %>
  <%= render 'shared/errors', obj: @goal %>
  <%= render 'form' %>
  <p class="feedback-link">If you'd like to request the addition of a category, or have any general feedback feel free to submit it <%= link_to 'here', new_feedback_path %></p>
</div>