<%= render 'shared/header', title: "Results for '#{@search_term}'" %>

<div class="row">
  <% @goals.each do |goal| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= render 'goals/goal', goal: goal %>
    </div>
  <% end %>
</div>