/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$main-theme: #E84319;

.badge {
  a {
    color: #FFF;
  }
}

.glyphicon-lg {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  color: #DDD;
}

.empty-message {
  margin-top: 80px;
}

.navbar {
  background: $main-theme;
  border-radius: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: 0;

  .nav li a {
    color: white;
    &:hover, &:active {
      color: white;
      background: lighten($main-theme, 7);
    }
  }

  .dropdown li a {
    color: #333;
    &:hover, &:active {
      color: #FFF;
      background: $main-theme;
    }
    .glyphicon {
      margin-right: 10px;
      margin-left: -2px;
    }
  }

  .navbar-brand {
    color: white;
  }

  .navbar-header {
    .icon-bar {
      background-color: #FFF;
    }

    button {
      border: 1px solid #FFF;
      &:hover, &:active, &:visited {
        background: lighten($main-theme, 7)
      }
    }
  }
}

.well {
  background: #F6F6F6;
  box-shadow: 0 0;
  border: 0;
  border-radius: 0;
}

a {
  color: $main-theme;
  &:hover {
    color: #333;
  }
}



