/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$main-theme: #E84319;
$blue: #8A6DA5;
$grey: #B3B3B3;
$dark-grey: #666;
$x-light-grey: #F6F6F6;

p {
  font-size: 16px;
  color: $dark-grey; 
}

.badge {
  background: $grey;
  padding: 4px 10px;
  a {
    color: #FFF;
    &:hover, &:active {
      text-decoration: none;
    }
  }
}

.label-hot {
    background-color: $main-theme;
}

.glyphicon-md {
  font-size: 16px;
  margin-right: 3px;
}

.glyphicon-lg {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  color: #DDD;
}


.navbar {
  background: $main-theme;
  border-radius: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: 0;

  .nav li {
    a {
      &:hover, &:active, &:visited {
        color: white;
        background: lighten($main-theme, 7);
      }
      &:link {
        color: white;
      }
    }
  }

  .navbar-nav > .open > a:focus {
    color: white;
    background: lighten($main-theme, 7);
  }

  .dropdown .dropdown-menu {
    li a {
      color: #333;
      &:link {
        color: #333;
      }
      &:hover, &:active {
        color: #FFF;
        background: $main-theme;
      }
      .glyphicon {
        margin-right: 10px;
        margin-left: -2px;
      }
    }
  }

  .navbar-brand {
    color: white;
  }

  .navbar-header {
    .icon-bar {
      background-color: #FFF;
    }

    button {
      border: 1px solid #FFF;
      background: $main-theme;
      &:visited, &:link {
        background: $main-theme;
      }
      &:hover, &:active {
        background: lighten($main-theme, 7)
      }
      .navbar-toggle {
        background: $main-theme;
      }
    }
  }
}

.nav-pills {
  a {
    background: #DDD;
    color: #AAA;
    &:hover {
      background: #DEDEDE;
      color: #BBB;
    }
  }
  li.active a {
    background: $main-theme;
    &:hover {
      background: lighten($main-theme, 7);
    }
  }
}

.nav-tabs {
  li a {
    border: none;
    color: $dark-grey;
    &:visited {
      color: $grey;
      background: none;
    }
    &:hover, &:active {
      color: $main-theme;
      background: none;
    }
  }
  li.active a {
    color: $main-theme;
    &:visited {
      color: $main-theme;
    }
    &:active, &:hover {
      color: $main-theme;
      background: none;
    }
  }
}

.well {
  background: #F6F6F6;
  box-shadow: 0 0;
  border: 0;
  border-radius: 0;
}

a {
  color: $main-theme;
  &:hover {
    color: #333;
  }
}

.global-header {
  color: #BBB;
  font-weight: 100;
  font-size: 2.8em;
  margin-bottom: 30px;
}

input[type="text"], input[type="password"] {
  background: #F3F3F3;
  border: 0;
  box-shadow: none;
  border-bottom: 2px rgba(255, 255, 255, 0);
  &:focus, &:active {
    background-color: #FAFAFA;
    border-bottom: 2px solid $main-theme;
    outline: transparent;
  }
}

textarea.form-control {
  background: #F3F3F3;
  border: 0;
  box-shadow: none;
  border-bottom: 2px rgba(255, 255, 255, 0);
  &:focus {
    background-color: #FAFAFA;
    border-bottom: 2px solid $main-theme;
    outline: transparent;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #F3F3F3 inset;
}


.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.important-center {
  margin-top: 50px;
}

.btn {
  border: none;
}

.btn-default {
  background: $grey;
  color: #FFF;
  border: none;
  &:link, &:visited {
    background: $grey;
    color: #FFF;
  }
  &:hover, &:active {
    background: lighten($grey, 7);
    color: #FFF;
  }
}

.btn-pinch {
  background: $main-theme;
  color: #FFF;
  border: none;
  &:hover, &:active {
    background: lighten($main-theme, 7);
    color: #FFF;
  }
}

.btn-primary {
  background: $blue;
  color: #FFF;
  border: none;
  &:link, &:visited {
    background: $blue;
  }
  &:hover, &:active {
    background: lighten($blue, 7);
    color: #FFF;
  }
}

.goal-title {
  margin-top: 20px;
}

.notification-container {
  margin-top: 30px;
  .nav .active .badge {
    color: $main-theme;
  }

  .badge {
    color: #FFF;
  }
}

.empty-message {
  margin-top: 80px;
}

.notification-panel {
  padding: 5px 50px;
}

.notification-text {
  font-size: 18px;
  color: $dark-grey;
}



