<%= form_for @category, html: {role: 'form', autocomplete: "off"} do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, placeholder: 'Enter a category name', class: 'form-control' %>
  </div>
  <br/>
  <div class="form-group">
    <%= f.submit 'Create Category', class: 'btn btn-success btn-block' %>
  </div>
<% end %>